.card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  gap: 100px;
}

.card__title {
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  margin: 0;
}

.card__content {
  width: 540px;
  display: flex;
  margin-top: 32px;
  flex-direction: column;
}

.card__list-item {
  font-family: "Noto Serif";
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  padding-bottom: 16px;
}

.card__list-divider {
  display: flex;
  flex-grow: 1;
  border-bottom: 1px solid #838383;
}
